{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
    <h1 class="text-center mt-5">Пожалуйста, выполните вход...</h1>
    {% if error %}
    <div class="text-center" style="color:red;">{{ error }}</div>
    {% endif %}
    <div class="d-flex align-content-end justify-content-center mt-3">
        <form method="post">
            {% csrf_token %}
            <input type="text" class="form-control mb-2" name="username" placeholder="Введите имя" required=""
                   autofocus="">
            <input type="password" class="form-control mb-2" name="password" placeholder="Введите пароль" required="">

                <a class="bnt bnt-outline-primary " href="{% url 'register' %}">Зарегистрируйтесь</a><br>
                <button class="btn btn-lg btn-primary mt-3" type="submit">Войти</button>

        </form>
    </div>
</div>
{% endblock %}