{% extends 'main/base.html' %}

{% block title %}
Создать запись
{% endblock %}

{% block content %}
    <div class="container">
        <h3><div class="alert mt-3"><font color="blue">Создать запись</font></div></h3>
        <form method="post">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.task }}<br>
            <button type="submit" class="btn btn-success">Добавить</button>
            <span>{{error}}</span>
        </form>

    </div>
{% endblock %}
