{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Список заметок
{% endblock %}

{% block content %}
<div class="container">
    <div class="py-3 text-center">
        <h2>Список ваших заметок</h2>
        <p>Не забывайте о главном - добавляйте заметки!</p>
        <div class="alert mt-3 bg-info "></div>
    </div>

        {% for el in tasks %}
        <div class="alert alert-warning mt-2">
            <div class="alert-wrapper">
                <h3>{{ el.title }}</h3>
                <p>{{ el.task }}</p>
            </div>
            <script language="javascript" type="text/javascript">
                var d = new Date();
                var month=new Array("Янв","Фев","Март","Апр","Май","Июнь",
                "Июль","Авг","Сент","Окт","Нояб","Дек");
                document.write(d.getDate()+ " " + month[d.getMonth()]
                + " " + d.getFullYear() + " г.");


            </script>
            <a class="alert ml-xp-5" href="{% url 'delete' el.id %}">Удалить заметку</a>
        </div>
        {% endfor %}
</div>
{% endblock %}
